<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897589496124-vvqsrsrvub61f2dlr32ksq6ht50iqj3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897589496124-vvqsrsrvub61f2dlr32ksq6ht50iqj3d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>897589496124-8qnk1f1594k0hr9296dimtck5lnq7ra0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYq8R-yfT13Zk2zptHuiIUiTWpfKbHzDs</string>
	<key>GCM_SENDER_ID</key>
	<string>897589496124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seuunng.foodforlater</string>
	<key>PROJECT_ID</key>
	<string>food-for-later</string>
	<key>STORAGE_BUCKET</key>
	<string>food-for-later.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897589496124:ios:2e63a5ddca01f4828eb639</string>
</dict>
</plist>